<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<property name="file_name" value="InternetBanking" />
	<property name="path" value="c:/logs" />

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- Daily rollover -->
			<fileNamePattern>${path}/${file_name}.%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>

	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

</configuration>